wheel
typing-extensions
dataclasses
PyYAML
pwn
isort
z3-solver
beautifulsoup4
numpy
matplotlib
argparse
paramiko
pycryptodome
twine
tox
PyInstaller
wheel
cibuildwheel
cython
jupyter
pylint
mypy
flake8
pycodestyle
types-Pillow
types-setuptools
types-paramiko
types-dataclasses
types-PyYAML
lxml
tqdm
python-dotenv
